<section id="advertirser-container" class="principal-container">
  <div class="landing">
    <div class="container" align="center">
      <div class="wrapper">
        <br>
        <p class="descrip">
          <%= i18 "pages.learn.title" %> <br/>
        </p>
        <br>
        <object data="/assets/resources/el_valor_del_influence_marketing_y_de_un_influenciador.pdf" type="application/pdf" width="100%" height="700">
          <embed src="/assets/resources/el_valor_del_influence_marketing_y_de_un_influenciador.pdf" type="application/pdf" />
        </object>
      </div>
    </div>
  </div>
</section>
