<div class="kgrid-debug">

  <div class="grids">
    <% 12.times do |x| %>
      <div class="grid-1 grid-mobile-4"></div>
    <% end %>
  </div>

  <div class="grids">
    <% 6.times do |x| %>
      <div class="grid-2"></div>
    <% end %>
  </div>

  <div class="grids">
    <% 4.times do |x| %>
      <div class="grid-3"></div>
    <% end %>
  </div>

  <div class="grids">
    <% 3.times do |x| %>
      <div class="grid-4"></div>
    <% end %>
  </div>

  <div class="grids">
    <% 2.times do |x| %>
      <div class="grid-6"></div>
    <% end %>
  </div>

  <div class="grids">
    <div class="grid-12"></div>
  </div>

  
  
  
  
</div>