.blue {
    color:$siginbutton;
  }

.alto {
  line-height: 20px;
  margin-bottom:20px;
  display: block;
  content: ' '; 
}


#influenciator-container {
  background-image: url('/assets/68.jpg');
  background-size:cover;



  .wrapper {
    padding: 30px 0px 550px 0px;
  }

  .landing {
      background:rgba(0,0,0,0.4);
      

      .descrip {
        font-size:45px;
        color:#fff;
        line-height: 60px;
      }


      .btn {
        margin-top:40px;
        padding:15px 20px;
        text-align: center;
        font-size:16px;
        background:$siginbutton;
        color:#fff;
        text-shadow:0 1px 1px rgba(0,0,0,0.2);
        
        &:hover {
          background: darken($siginbutton, 10%); 
        }
      }
  }
}


#map {
  position: relative;
  background:rgba($siginbutton,0.9);

  &:after {
    background-image: url("/assets/faces.png");
    background-size: 100%;
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    position: absolute;
    content:' ';
    width: 100%;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index: -1;

  } 
  

  .border-rlight {
    text-align:center;
    
    h4 {
      color:#fff;
      text-transform: capitalize;
      font-size:70px;
      margin:60px 0px;

      .morebig {
        font-size:70px ;
      }

      small {
        font-size:50px;
      }

    }
  }
}


#validate-influenciator {

  ul {
    margin:0px;
    padding:0px;
    list-style:none;
    margin-top:50px;

    li {
      color:$lighttext;
      margin-bottom:30px;
      i {
        margin-left:5px;
      }
    }
  }
}

.validate-influenciator {

}

#clients-about {
  padding:100px 0px;
  h1 {
    font-size:50px;
    color:darken($gray,20%);
    small {
      display:block;
      font-size:35px;
      margin-top:10px;
    }
  }

  .calltoaction {
    display: block;
    margin-top:80px;

    h2 {
      font-size: 26px;
    }

    .btn {
      margin-top:20px;
      background:$siginbutton;
      color:$white;
      padding:15px 20px;
      font-size: 18px;

      -webkit-transition: all 0.2s ease-in-out ;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: darken($siginbutton,10%);
      }
    }

  }
}

@media only screen and (max-device-width: 480px) {
  #influenciator-container {
    .wrapper {
      padding:0px 0px 100px 0px !important;

      .message {
        text-align: center;
        .descrip {
          font-size:25px !important;
          line-height:30px !important;
        }

        span {
          top:10px !important;
          font-size:13px !important;
        }
      }
    }

    .btn {
      max-width: 90% !important;
      margin-top:20px !important;
      margin-bottom:40px !important;
      font-size:14px !important;
      word-wrap: break-word;
      overflow:hidden;
    }
  }

  .validate-influenciator {
    .content-text {
      padding-bottom:70px !important;
      padding-top:30px !important;

      h1 {
        font-size:1.8em !important;

        small {
          margin-top:5px;
          display:block;
          font-size:0.8em !important;
        }
      }
    }

    .imagen-top-fancybox {
      padding:80px 0px 20px !important;
    }
  }

  #map {
    h4 {
      margin:0px !important;
      font-size:25px !important;;

      .morebig {
        font-size: 30px !important;
      }

      small {
        font-size: 20px !important;
      }
    }
  }

  #validate-influenciator {
    .content-text {
      padding-bottom: 70px !important;
      padding-top: 30px !important;
    }
  }
}